@-webkit-keyframes _idGenKeyFrames-0 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
4.3478% { transform:translate(-1px,-204px) ; opacity:0.043; }
8.6957% { transform:translate(-1px,-177px) ; opacity:0.087; }
13.0435% { transform:translate(-1px,-153px) ; opacity:0.13; }
17.3913% { transform:translate(-1px,-131px) ; opacity:0.174; }
21.7391% { transform:translate(0px,-112px) ; opacity:0.217; }
26.087% { transform:translate(0px,-94px) ; opacity:0.261; }
30.4348% { transform:translate(0px,-78px) ; opacity:0.304; }
34.7826% { transform:translate(0px,-65px) ; opacity:0.348; }
39.1304% { transform:translate(0px,-53px) ; opacity:0.391; }
43.4783% { transform:translate(0px,-42px) ; opacity:0.435; }
47.8261% { transform:translate(0px,-33px) ; opacity:0.478; }
52.1739% { transform:translate(0px,-25px) ; opacity:0.522; }
56.5217% { transform:translate(0px,-19px) ; opacity:0.565; }
60.8696% { transform:translate(0px,-14px) ; opacity:0.609; }
65.2174% { transform:translate(0px,-10px) ; opacity:0.652; }
69.5652% { transform:translate(0px,-7px) ; opacity:0.696; }
73.913% { transform:translate(0px,-4px) ; opacity:0.739; }
78.2609% { transform:translate(0px,-2px) ; opacity:0.783; }
82.6087% { transform:translate(0px,-1px) ; opacity:0.826; }
86.9565% { transform:translate(0px,-1px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { -webkit-transform:translate(-307px,0px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-269px,0px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-234px,0px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-202px,0px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-173px,0px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(-147px,0px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(-124px,0px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(-103px,0px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(-85px,0px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(-69px,0px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(-55px,0px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(-44px,0px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(-34px,0px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(-25px,0px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(-18px,0px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(-13px,0px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(-9px,0px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(-5px,0px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(-3px,0px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(-2px,0px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(-1px,0px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-1 {
0% { transform:translate(-307px,0px) ; opacity:0; }
4.3478% { transform:translate(-269px,0px) ; opacity:0.043; }
8.6957% { transform:translate(-234px,0px) ; opacity:0.087; }
13.0435% { transform:translate(-202px,0px) ; opacity:0.13; }
17.3913% { transform:translate(-173px,0px) ; opacity:0.174; }
21.7391% { transform:translate(-147px,0px) ; opacity:0.217; }
26.087% { transform:translate(-124px,0px) ; opacity:0.261; }
30.4348% { transform:translate(-103px,0px) ; opacity:0.304; }
34.7826% { transform:translate(-85px,0px) ; opacity:0.348; }
39.1304% { transform:translate(-69px,0px) ; opacity:0.391; }
43.4783% { transform:translate(-55px,0px) ; opacity:0.435; }
47.8261% { transform:translate(-44px,0px) ; opacity:0.478; }
52.1739% { transform:translate(-34px,0px) ; opacity:0.522; }
56.5217% { transform:translate(-25px,0px) ; opacity:0.565; }
60.8696% { transform:translate(-18px,0px) ; opacity:0.609; }
65.2174% { transform:translate(-13px,0px) ; opacity:0.652; }
69.5652% { transform:translate(-9px,0px) ; opacity:0.696; }
73.913% { transform:translate(-5px,0px) ; opacity:0.739; }
78.2609% { transform:translate(-3px,0px) ; opacity:0.783; }
82.6087% { transform:translate(-2px,0px) ; opacity:0.826; }
86.9565% { transform:translate(-1px,0px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { -webkit-transform:translate(-307px,0px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-269px,0px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-234px,0px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-202px,0px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-173px,0px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(-147px,0px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(-124px,0px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(-103px,0px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(-85px,0px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(-69px,0px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(-55px,0px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(-44px,0px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(-34px,0px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(-25px,0px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(-18px,0px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(-13px,0px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(-9px,0px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(-5px,0px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(-3px,0px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(-2px,0px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(-1px,0px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-2 {
0% { transform:translate(-307px,0px) ; opacity:0; }
4.3478% { transform:translate(-269px,0px) ; opacity:0.043; }
8.6957% { transform:translate(-234px,0px) ; opacity:0.087; }
13.0435% { transform:translate(-202px,0px) ; opacity:0.13; }
17.3913% { transform:translate(-173px,0px) ; opacity:0.174; }
21.7391% { transform:translate(-147px,0px) ; opacity:0.217; }
26.087% { transform:translate(-124px,0px) ; opacity:0.261; }
30.4348% { transform:translate(-103px,0px) ; opacity:0.304; }
34.7826% { transform:translate(-85px,0px) ; opacity:0.348; }
39.1304% { transform:translate(-69px,0px) ; opacity:0.391; }
43.4783% { transform:translate(-55px,0px) ; opacity:0.435; }
47.8261% { transform:translate(-44px,0px) ; opacity:0.478; }
52.1739% { transform:translate(-34px,0px) ; opacity:0.522; }
56.5217% { transform:translate(-25px,0px) ; opacity:0.565; }
60.8696% { transform:translate(-18px,0px) ; opacity:0.609; }
65.2174% { transform:translate(-13px,0px) ; opacity:0.652; }
69.5652% { transform:translate(-9px,0px) ; opacity:0.696; }
73.913% { transform:translate(-5px,0px) ; opacity:0.739; }
78.2609% { transform:translate(-3px,0px) ; opacity:0.783; }
82.6087% { transform:translate(-2px,0px) ; opacity:0.826; }
86.9565% { transform:translate(-1px,0px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-3 {
0% { -webkit-transform:translate(-307px,0px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-293px,0px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-275px,0px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(-253px,0px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(-222px,0px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(-180px,0px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(-127px,0px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(-85px,0px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(-54px,0px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(-32px,0px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(-14px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-3 {
0% { transform:translate(-307px,0px) ; opacity:0; }
9.0909% { transform:translate(-293px,0px) ; opacity:0.091; }
18.1818% { transform:translate(-275px,0px) ; opacity:0.182; }
27.2727% { transform:translate(-253px,0px) ; opacity:0.273; }
36.3636% { transform:translate(-222px,0px) ; opacity:0.364; }
45.4545% { transform:translate(-180px,0px) ; opacity:0.455; }
54.5455% { transform:translate(-127px,0px) ; opacity:0.545; }
63.6364% { transform:translate(-85px,0px) ; opacity:0.636; }
72.7273% { transform:translate(-54px,0px) ; opacity:0.727; }
81.8182% { transform:translate(-32px,0px) ; opacity:0.818; }
90.9091% { transform:translate(-14px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-4 {
0% { -webkit-transform:translate(-307px,0px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-293px,0px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-275px,0px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(-253px,0px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(-222px,0px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(-180px,0px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(-127px,0px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(-85px,0px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(-54px,0px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(-32px,0px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(-14px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-4 {
0% { transform:translate(-307px,0px) ; opacity:0; }
9.0909% { transform:translate(-293px,0px) ; opacity:0.091; }
18.1818% { transform:translate(-275px,0px) ; opacity:0.182; }
27.2727% { transform:translate(-253px,0px) ; opacity:0.273; }
36.3636% { transform:translate(-222px,0px) ; opacity:0.364; }
45.4545% { transform:translate(-180px,0px) ; opacity:0.455; }
54.5455% { transform:translate(-127px,0px) ; opacity:0.545; }
63.6364% { transform:translate(-85px,0px) ; opacity:0.636; }
72.7273% { transform:translate(-54px,0px) ; opacity:0.727; }
81.8182% { transform:translate(-32px,0px) ; opacity:0.818; }
90.9091% { transform:translate(-14px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-5 {
0% { -webkit-transform:translate(-861px,0px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-820px,0px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-772px,0px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(-708px,0px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(-621px,0px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(-503px,0px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(-357px,0px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(-239px,0px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(-152px,0px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(-89px,0px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(-40px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-5 {
0% { transform:translate(-861px,0px) ; opacity:0; }
9.0909% { transform:translate(-820px,0px) ; opacity:0.091; }
18.1818% { transform:translate(-772px,0px) ; opacity:0.182; }
27.2727% { transform:translate(-708px,0px) ; opacity:0.273; }
36.3636% { transform:translate(-621px,0px) ; opacity:0.364; }
45.4545% { transform:translate(-503px,0px) ; opacity:0.455; }
54.5455% { transform:translate(-357px,0px) ; opacity:0.545; }
63.6364% { transform:translate(-239px,0px) ; opacity:0.636; }
72.7273% { transform:translate(-152px,0px) ; opacity:0.727; }
81.8182% { transform:translate(-89px,0px) ; opacity:0.818; }
90.9091% { transform:translate(-40px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-6 {
0% { -webkit-transform:translate(-1px,233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-6 {
0% { transform:translate(-1px,233px) ; opacity:0; }
9.0909% { transform:translate(-1px,175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@font-face {
	font-family:"Heroic Condensed Bold";
	font-style:normal;
	font-weight:600;
	src : url("../font/HeroicCondensed-Bold.otf");
}
@font-face {
	font-family:"Heroic Condensed Bold";
	font-style:italic;
	font-weight:600;
	src : url("../font/HeroicCondensed-BoldOblique.otf");
}
@font-face {
	font-family:"Heroic Condensed Bold";
	font-style:oblique;
	font-weight:600;
	src : url("../font/HeroicCondensed-BoldOblique.otf");
}
@font-face {
	font-family:"Lato Black";
	font-style:normal;
	font-weight:900;
	src : url("../font/Lato-Black.ttf");
}
@font-face {
	font-family:Lato;
	font-style:normal;
	font-weight:bold;
	src : url("../font/Lato-Bold.ttf");
}
@font-face {
	font-family:Lato;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Lato-Regular.ttf");
}
@font-face {
	font-family:"Leitura Display Roman";
	font-style:normal;
	font-weight:normal;
	src : url("../font/LeituraDisplay-Roman.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Lato Black", sans-serif;
	font-size:448.4px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Heroic Condensed Bold", sans-serif;
	font-size:1016.4px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:396.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Leitura Display Roman", serif;
	font-size:1140.3px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:560.6px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Heroic Condensed Bold", sans-serif;
	font-size:2132px;
	font-style:italic;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Heroic Condensed Bold", sans-serif;
	font-size:2132px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-8 {
	color:#000000;
	font-family:Lato, sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Gotham-Black", sans-serif;
	font-size:768.5px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
#_idContainer000 {
	-webkit-transform:translate(600.000px,348.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(600.000px,348.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:96.00px;
}
#_idContainer001 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1004.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer002 {
	-webkit-transform:translate(0.000px,-5.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:294.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-5.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:341.81px;
}
#_idContainer003 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:287.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:341.81px;
}
#_idContainer004 {
	-webkit-transform:translate(21.546px,29.434px) rotate(0.000deg) skew(-10.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(21.546px,29.434px) rotate(0.000deg) skew(-10.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:321.57px;
}
#_idContainer005, #_idContainer007 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:287.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:341.81px;
}
#_idContainer006 {
	-webkit-transform:translate(58.606px,242.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.606px,242.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:209.57px;
}
#_idContainer008 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:49.97px;
}
#_idContainer009 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.87px;
}
#_idContainer010 {
	-webkit-transform:translate(0.000px,15.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,15.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.87px;
}
#_idContainer011 {
	-webkit-transform:translate(38.758px,15.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.758px,15.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.87px;
}
#_idContainer012 {
	-webkit-transform:translate(38.758px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.758px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.87px;
}
#_idContainer013 {
	-webkit-transform:translate(3.874px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.874px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:2.67px;
}
#_idContainer014 {
	-webkit-transform:translate(9.968px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.968px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.31px;
}
#_idContainer015 {
	-webkit-transform:translate(16.482px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.482px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.11px;
}
#_idContainer016 {
	-webkit-transform:translate(35.830px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.830px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:2.89px;
}
#_idContainer017 {
	-webkit-transform:translate(29.245px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.245px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.24px;
}
#_idContainer018 {
	-webkit-transform:translate(22.794px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.794px,7.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.31px;
}
#_idContainer019 {
	-webkit-transform:translate(3.669px,15.576px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.669px,15.576px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:42.63px;
}
#_idContainer020 {
	height:51px;
	left:698px;
	position:absolute;
	top:933px;
	width:50px;
}
#_idContainer021 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:123.00px;
}
#_idContainer022 {
	-webkit-perspective:1px;
	-webkit-transform:translate(0.172px,-3.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.172px,-3.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:119.12px;
}
#_idContainer023 {
	-webkit-transform:translate(2.518px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.518px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:123.00px;
}
#_idContainer024 {
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,22.840px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:157.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,22.840px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.58px;
}
#_idContainer025 {
	height:175px;
	left:20px;
	position:absolute;
	top:492px;
	width:141px;
}
#_idContainer026 {
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,63.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:103.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,63.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:158.53px;
}
#_idContainer027 {
	-webkit-transform:translate(32.328px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(32.328px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.12px;
}
#_idContainer028 {
	-webkit-transform:translate(65.779px,28.701px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.779px,28.701px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.12px;
}
#_idContainer029 {
	-webkit-transform:translate(1.229px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.229px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:65.78px;
}
#_idContainer030 {
	height:155px;
	left:21px;
	position:absolute;
	top:667px;
	width:159px;
}
#_idContainer031 {
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,98.657px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,98.657px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:364.11px;
}
#_idContainer032 {
	-webkit-perspective:1px;
	-webkit-transform:translate(0.109px,-13.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:130.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.109px,-13.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:315.62px;
}
#_idContainer033 {
	-webkit-transform:translate(301.776px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(301.776px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:159.78px;
}
#_idContainer034 {
	height:119px;
	left:20px;
	position:absolute;
	top:865px;
	width:462px;
}
#_idContainer035 {
	-webkit-perspective:1px;
	-webkit-transform:translate(53.516px,-5.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(53.516px,-5.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:169.14px;
}
#_idContainer036 {
	-webkit-transform:translate(0.000px,3.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,3.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:49.26px;
}
#_idContainer037 {
	height:75px;
	left:485px;
	position:absolute;
	top:909px;
	width:223px;
}
#_idContainer038 {
	-webkit-perspective:1px;
	-webkit-transform:translate(0.879px,-17.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:296.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.879px,-17.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:401.60px;
}
#_idContainer039 {
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,248.397px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:63.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,248.397px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:398.48px;
}
#_idContainer040 {
	height:311px;
	left:346px;
	position:absolute;
	top:15px;
	width:402px;
}
#_idContainer041 {
	-webkit-perspective:1px;
	-webkit-transform:translate(66.407px,-4.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(66.407px,-4.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:267.03px;
}
#_idContainer042 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:56.04px;
}
#_idContainer043 {
	-webkit-perspective:1px;
	-webkit-transform:translate(13.702px,106.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.702px,106.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:210.81px;
}
#_idContainer044 {
	-webkit-transform:translate(9.486px,1.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:103.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.486px,1.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:68.51px;
}
#_idContainer045 {
	height:159px;
	left:9px;
	position:absolute;
	top:305px;
	width:333px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:288px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:342px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:1.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:1.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:3.200s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:3.200s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:5.600s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:5.600s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-4 {
	-webkit-animation-delay:8.200s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-3;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:8.200s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-3;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-5 {
	-webkit-animation-delay:10.700s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-4;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:10.700s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-4;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-6 {
	-webkit-animation-delay:13.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-5;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:13.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-5;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-7 {
	-webkit-animation-delay:15.700s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-6;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:15.700s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-6;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	-webkit-transform:translate(-1px,233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-2 {
	-webkit-transform:translate(-307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-3 {
	-webkit-transform:translate(-861px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-861px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-4 {
	-webkit-transform:translate(-1px,-233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,-233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-1 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:1;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
